@charset "UTF-8";

.layui-form.select {
	padding-left: 10px;
}

.layui-form.select .layui-input-inline, .layui-inline {
	margin-right: 10px;
}

.layui-collapse {
	margin-bottom: 10px;
}

#page {
	float: right;
	margin-right: 20px;
}