<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_3.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>userMis</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>AuthCodeServlet</servlet-name>
		<servlet-class>com.userMis.util.AuthCodeServlet</servlet-class>
		<init-param>
			<param-name>count</param-name>
			<param-value>4</param-value>
		</init-param>
		<init-param>
			<param-name>width</param-name>
			<param-value>85</param-value>
		</init-param>
		<init-param>
			<param-name>height</param-name>
			<param-value>30</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthCodeServlet</servlet-name>
		<url-pattern>/AuthCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.userMis.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DictServlet</servlet-name>
		<servlet-class>com.userMis.servlet.DictServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DictServlet</servlet-name>
		<url-pattern>/DictServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddrServlet</servlet-name>
		<servlet-class>com.userMis.servlet.AddrServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddrServlet</servlet-name>
		<url-pattern>/AddrServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CharFilter</filter-name>
		<filter-class>com.userMis.filter.CharFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>com.userMis.filter.UserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/web/page/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
</web-app>